{% block content %}
<div class="myDiv">
<h1> Add leaves for {{user.fname}}</h1>
<form action="{{ url_for('add_leaves', empid=empid) }}" method="post">

    <input type="date" id="date" name="date" placeholder="Date" ><br>
    <textarea id="reason" name="reason" rows="4" cols="50" placeholder="Reason" ></textarea><br>
    <hr>

    <input type="submit" value="Submit">
    
</form>
<button><a href="{{url_for('employee_details', empid=empid)}}">Go back to employee datails </a></button>
</div>
{% endblock %} 