{% extends 'base.html' %}

{% block content %}

<div class="row">

    <div class="col-8">

        <img src="{{ url_for('static', filename='/image/hrms-banner.png') }}" alt="hamon image" height="500" width="800" >
    </div>

    <div class="col-4">
        <h1> Welcome to Hamon HRMS </h1>
        <hr>
        <p>

            Greetings and welcome to our cutting-edge Human Resource Management System (HRMS)!
            We are thrilled to introduce you to a revolutionary platform designed to elevate your workforce management
            experience.
            Whether you are an HR professional seeking efficiency, or an employee looking for seamless interactions, our
            HRMS is here to empower you.
            Navigate through a user-friendly interface that streamlines tasks such as onboarding, attendance tracking,
            and performance evaluation.
            This system is more than just a tool; it's a gateway to enhanced productivity, streamlined processes, and a
            thriving workplace.
            We invite you to explore the future of HR management with us ,
            where innovation meets seamless integration. Welcome to a new era of workforce excellence!
        </p>
    </div>
</div>

{% endblock %}