
<ul class="nav nav-pills nav-fill gap-2 p-1 small bg-dark rounded-5 shadow-sm"  role="tablist">
  <li class="nav-item">
    <button class="nav-link  rounded-5" type="button" role="tab" aria-selected="true" onclick="location.href='{{ url_for('index') }}'"><h3>Home &#9819;</h3></button>
  </li>
  <li class="nav-item">
    <button class="nav-link rounded-5" type="button" role="tab" aria-selected="false" onclick="location.href='{{ url_for('employees') }}'" ><h3>Employees &#9892;</h3></button>
  </li>
  <li class="nav-item">
    <button class="nav-link rounded-5 " type="button" role="tab" aria-selected="false" onclick="location.href='{{ url_for('contact') }}'"><h3>Contact &#9990;</h3></button>
  </li>
</ul>