{% extends 'base.html' %}

{% block content %}

   
    <div class="row">
      <div class="col-4">
        <h1> List of employees </h1>
        <p>
          <ol>
            {%for u in users %}
            <li> <a class="userlink" href="{{url_for('api_employee_details', empid=u.id)}}">{{u.fname}} </a></li>
            {%endfor%}
          </ol>
        </p>
        </div>
        <div class="col-8">
          <span class="info"> Hello </span>

        <div class="container" style="border:3px outset rgb(7, 7, 7);">
          <div id="userdetails">
        </div>
        </div>
    </div>
      </div>
 

{% endblock %}